[submodule "platform"]
	path = platform
	url = https://github.com/MaaBlock/FCT_PlatformConfig
[submodule "Thirdparty/CXXGraph"]
	path = Thirdparty/CXXGraph
	url = https://github.com/ZigRazor/CXXGraph
[submodule "ThirdParty/work_contract"]
	path = ThirdParty/work_contract
	url = https://github.com/MaaBlock/work_contract.git
